header{
    width:100%;
    height: 100px;
    background-color: #2b669a;
    font-size: 24px;
    color: white;
    text-align: center;
}

h3{
    text-align: center;
    margin: 8px 25px;
}

form{
    border: 3px solid #f1f1f1;
    width: 450px;
    margin: 0 auto;
}


input[type="text"]{
    width: 320px;
    padding: 12px 20px;
    margin: 8px 25px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;

}

input[type="radio"]{
    height: 30px;
    width: 50px;
    font-size: 11px;
    margin-bottom: 20px;
    background-color: white;
    padding-left: 30px;

}
table{
    margin: 8px 25px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: auto;
}

.button{
    margin: 8px 25px;
}



